
@import "tailwindcss";


@theme {
 
  --font-geist: "Geist Sans", sans-serif;
}

:root {
  font-family: var(--font-geist);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-geist);
}